<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Job Offer App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <div class="container">
            <a href="{{ url_for('home') }}">Job Offers</a> |
            <a href="{{ url_for('create_offer') }}">Create Offer</a>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
